<div ng-if="1">
  <div class="winner-select-wrapper">
    <label>{{match.pairing.player1.name}} wins
      <input type="number" ng-model="match.result.p1Wins" />
    </label><br>
    <label>{{match.pairing.player2.name}} wins
      <input type="number" ng-model="match.result.p2Wins" />
    </label><br>
    <label>Draws
      <input type="number" ng-init="0" ng-model="match.result.draws" />
    </label>
  </div><!--
    <label><input type="checkbox">Drop {{match.player1.name}} after this round</label>
    <label><input type="checkbox">Drop {{match.player2.name}} after this round</label>
  </div>-->
</div>
<!-- div ng-if="match.result">
  <div class="winner-select-wrapper">
    {{match.pairing.player1.name}} wins : {{match.p1Wins}}<br>
    {{match.pairing.player2.name}} wins : {{match.p2Wins}}<br>
    Draws : {{match.draws}} 
  </div><!--
    <label><input type="checkbox">Drop {{match.player1.name}} after this round</label>
    <label><input type="checkbox">Drop {{match.player2.name}} after this round</label>
  </div>-->
</div -->