<div>
  <div class="winner-select-wrapper">
    <div class="radio-button-wrapper">
      <label ng-class="{true: 'checked-label', false: 'unchecked-label'}[matchController.matchWinner === 'PLAYER_1']">{{match.player1.name}} wins
        <input type="radio" value="PLAYER_1" ng-model="matchController.matchWinner" />
      </label>
    </div>
    <div class="radio-button-wrapper">
      <label ng-class="{true: 'checked-label', false: 'unchecked-label'}[matchController.matchWinner === 'DRAW']">Match draw
        <input type="radio" value="DRAW" ng-model="matchController.matchWinner" />
      </label>
    </div>
    <div class="radio-button-wrapper">
      <label ng-class="{true: 'checked-label', false: 'unchecked-label'}[matchController.matchWinner === 'PLAYER_2']">{{match.player2.name}} wins
        <input type="radio" value="PLAYER_2" ng-model="matchController.matchWinner" />
      </label>
    </div>
  </div>
  <div class="winner-select-wrapper" ng-if="matchController.matchWinner">
    <button ng-repeat="matchResult in matchController.getPossibleResults()" ng-click="matchController.setResult(matchResult)">{{matchResult.p1wins}}-{{matchResult.p2wins}}</button>
  </div>
  <div ng-if="matchController.matchWinner">
    <input type="number" placeholder="draws" ng-model="match.draws">
  </div><!--
    <label><input type="checkbox">Drop {{match.player1.name}} after this round</label>
    <label><input type="checkbox">Drop {{match.player2.name}} after this round</label>
  </div>-->
</div>